body {
  background-color: #0b0921;
  font-family: sans-serif;
  margin: auto;
  max-width: 70ch;
  color: #d2c4c4;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
        url('/assets/stars.png'),
        url('/assets/stars.png');
    background-repeat: repeat, repeat;
    background-size: 900px 900px, 900px 900px;
    background-position: 0 0, 50px 50px;
}